[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
makefile = "*"
dj-database-url = "*"
cloudinary = "*"
psycopg2-binary = "*"
django-bootstrap-v5 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"

[dev-packages]

[requires]
python_version = "3.8"
