{% extends 'registration/base.html' %}

{% load crispy_forms_tags %} 

{{block.super}}

{% block content %} 


<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <h4>Register to view and review your peers projects</h4>
      <form action="{% url 'register' %}" method="post">
        {% csrf_token %}

        {{ registration_form | crispy }}
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
      <p class="text-center">Already have an Account? <a href="/login">Login</a> Instead</p>
    </div>
  </div>
</div>

{% endblock %}