{% extends 'all_ratings/base.html' %} 

{% block content %}  

<div class="container">
  <div class="row">
    {% for project in project_list %}
    <!-- <ul> -->
    <div class="col-md-3">
      <div class="card my-2">
        <img src="{{project.image.url}}" class="img-thumbnail" alt="">
        <div class="card-body">
          <h6 class="card-title">{{project.title}}</h6>
          <p class="fs-6 fw-light">{{project.description}}</p>
          <a href="{{project.link}}" class="btn btn-sm btn-primary" target="_blank">Visit Website</a>
        </div>
      </div>
    </div>
  <!-- </ul> -->
    {% endfor %}
  </div>
</div>

{% endblock %}
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->